.App {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
.mainfooter {
  display: flex;
  position: relative;
  height: 50px;
  width: 100vw;
  text-align: center;
  margin-top: 140vh;
  margin-left: 0%;
  padding-top: 1%;
  background-color: rgb(92, 146, 75);
}
