#cars10 {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
#carname1 {
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(121, 121, 121);

  margin-bottom: 2%;
  padding-left: 1%;
}

#carname2 {
  display: flex;
  color: rgb(121, 121, 121);
  text-align: center;
  font-size: 32px;
}
#cardescription {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
