#cars10 {
  width: 100%;
  margin-left: 30%;
  font-family: "Open Sans", sans-serif;
}
#carname1 {
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(121, 121, 121);
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding-left: 10%;
}

#carname2 {
  color: rgb(121, 121, 121);
  text-align: center;
}
#carname3 {
  margin-left: 25%;
  margin-right: 20%;
}
