.carinfo {
  margin-top: 6%;
  padding-bottom: 100px;
  background-color: #f9f9fb;
}

.carlist {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  border: 0.5px solid;
  border-color: rgb(56, 122, 56);
  border-radius: 4px;
  width: 50%;
  height: 90px;
  text-align: center;
  margin-left: 25%;
}
h2 {
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: rgb(255, 255, 255);
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
}
h3 {
  text-decoration: none;
  color: rgb(27, 172, 82);

  text-decoration: none;
}
#dropdownresult {
  padding-top: 8%;
  padding-bottom: 60px;
}
select {
  width: 450px;
  height: 52px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(173, 173, 173);
  margin-left: 30%;
  margin-right: -50px;
  margin-bottom: 150px;
  padding-left: 10px;
  border-radius: 4px;
  border-color: white;
}
button {
  display: inline-flex;
  margin-left: 60px;
  padding-top: 18px;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  height: 54px;
  width: 80px;
  background-color: rgb(27, 172, 82);
  border: 0px;
  border-color: white;
  border-radius: 4px;
}

.placeholder {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://images.pexels.com/photos/1266152/pexels-photo-1266152.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-color: #f9f9fb;
  background-size: cover;
  height: 750px;
  width: 100vw;
  text-decoration: none;
}
.carlist {
  margin-bottom: 10px;
  padding-top: 30px;
  background-color: white;
}
#downarrow {
  margin-left: 48%;
  margin-top: -200px;
  display: flex;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  background-color: blue;
}
